<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Travellers">
    <test name = "Hotel Search" parallel = "tests" thread-count="3">
        <classes>
            <class name = "pl.seleniumdemo.tests.HotelSearchTest" />
        </classes>
    </test>
    <test name = "Sign Up" parallel = "tests" thread-count="3">
        <classes>
            <class name = "pl.seleniumdemo.tests.SignUpTest" />
        </classes>
    </test>
    <test name = "Sign Up Home Work" parallel = "tests" thread-count="3">
        <classes>
            <class name = "pl.seleniumdemo.tests.SignUpHomeWorkTest" />
        </classes>
    </test>
</suite>